node_modules/
**/node_modules/
**/.next/
**/dist/
**/coverage/
**/.turbo/
**/*.log
**/.env
**/.env.*
!.env.example
**/.pnp.*
**/.yarn/
**/.yarnrc.yml
**/yarn.lock
**/*.db
**/*.db-*
.DS_Store
Thumbs.db
